{% extends 'flatpages/default.html' %}

{% block title %}
    {{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Наши контакты:</h3>
    {{ flatpage.content }}
    <a href="/about">about</a>
{% endblock content %}

{% block text %}
    Наследование шаблонов — это более удобная и более гибкая версия include, если можно так выразиться.
    В общем-то, блоков может быть сколько угодно, и называться могут они тоже по-разному, но главный принцип
    действия
    такой: написали в шаблоне-родителе блок, например,  закрыли блок . В
    шаблоне-наследнике теперь можно внутри этого блока писать содержимое страницы, таким образом не повторяясь и
    соблюдая DRY. На примере мы уже убедились в удобности такого подхода, ведь при редактировании одного элемента
    достаточно будет редактировать его только в шаблоне-родителе. Во всех шаблонах-наследниках изменения примутся
    автоматически.
{% endblock %}